  <form
    action="https://danglorioso.us8.list-manage.com/subscribe/post?u=42029d7584bb873f929cad8e6&amp;id=c2b984f044&amp;f_id=00f2c2e1f0"
    method="post"
    target="_blank"
  >
    <div>
      <div class="mc-field-group">
        <label for="mce-EMAIL" class="block text-sm font-medium text-white opacity-80">
        </label>
        <input
          type="email"
          name="EMAIL"
          id="mce-EMAIL"
          required
          class="mt-2 w-full bg-white/5 border border-white/20 text-white placeholder:text-white/30 rounded-md px-3 py-2 focus:ring-accent focus:border-accent"
          placeholder="Enter your email address"
        />
      </div>

      <div id="mce-responses" class="clear foot">
        <div class="response text-red-500 text-sm mt-2" id="mce-error-response" style="display:none;"></div>
        <div class="response text-green-500 text-sm mt-2" id="mce-success-response" style="display:none;"></div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input
          type="text"
          name="b_d3c507093f7b2f71584f684c0_25ebfbc332"
          tabindex="-1"
          value=""
        />
      </div>

      <div class="mt-4 flex justify-left">
        <input
          type="submit"
          name="subscribe"
          id="mc-embedded-subscribe"
          value="Submit"
          class="bg-white/10 border border-white/20 text-accent px-2 py-1 rounded-md font-bold cursor-pointer"
        />
      </div>
    </div>
  </form>